<%- include('partials/header') %>

<h1>Your'e already Registered in secrets try to login</h1>

<form class="" action="/Registered" method="post">
<button type="submit" class="btn btn-dark">click here to Login</button>
</form>

<%- include('partials/footer') %>
